{% extends 'base.html' %}

{% block title %}Location/Directions{% endblock title %}

{% block content %}
<br/>
	<div class="jumbotron jumbotron-fluid" style="background: url(/static/images/mountain_crop2.jpg);">
		<div class="container-fluid">
		<h1 class="display-5">Ski Mountain Locator App</h1>
		<p>Here's your directions:</p>
		<div class="d-inline p-2 bg-primary text-white">Montana SnowBowl</div>
		<img src="/static/images/snowbowl_directions.jpg" class="img-fluid" alt="google maps image">
{% endblock content %}