{% extends 'base.html' %}

{% block title %}Resorts{% endblock title %}

{% block content %}
<br/>
<div class="jumbotron jumbotron-fluid" style="background: url(/static/images/mountain_crop2.jpg);">
	<div class="p-3 mb-2 bg-success text-white"></div>
	<div class="container-fluid"> 
	<h1 class="display-4">Ski Mountain Locator App </h1>
	<div class="p-3 mb-2 bg-success text-white">Here's a list of resorts in your area!</div>
	<p><a class="btn btn-success btn-block"  href="{% url 'location_directions' %}">Big Sky Ski Resort</a><div class="d-inline p-2 bg-primary text-white">Winter season dates: opens November 25 to April 24th</div></p>
	<p><a class="btn btn-success btn-block"  href="{% url 'location_directions_2' %}">Montana SnowBowl</a><div class="d-inline p-2 bg-primary text-white">Winter season dates: opens December 22nd to April 11th</div></p>
	<p><a class="btn btn-success btn-block"  href="{% url 'location_directions_3' %}">Lost Trail Ski Area</a><div class="d-inline p-2 bg-primary text-white">Winter season dates: opens December 3rd to April 15th</div></p>
	<p><a class="btn btn-success btn-block" href="{% url 'location_directions_4' %}">Discovery Ski Resort</a><div class="d-inline p-2 bg-primary text-white">Winter season dates: opens December 1st-April 04th</div></p>

{% endblock content %}
